{% extends 'main/base.html' %}

{% block content %}

 {% include 'main/nav.html' %}
 <div class="container">
    <h1 class="center-align">Languages I know</h1>
    <div class="row">
        
            <ul class="collection">
                <li class="collection-item">Python</li>
                <li class="collection-item">Java</li>
                <li class="collection-item">Kotlin</li>
                <li class="collection-item">Dart</li>
              </ul>
                      
           

        </div>
    </div>
    </div>

 {% endblock %}